@font-face {
    font-family: 'Dosis';
    src: url("assets/font/Dosis/Dosis-Regular.ttf");
}

*{
	font-family:Dosis !important;
	
}

*{
	color:white !important;
}
html,body,.editor-wrap,.start-screen-wrap{
	
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow: hidden;
}
.editor-wrap
{
	display: none;
}
.container1{
		top:0;
		position:relative;
		left:0;		
		height:50%;  
		width:100%;
}
.container2{
		top:50;
		position:relative;
		left:0;
		height:50%;  
		width:100%;
}
#sub1{			
		height:100%;
		width:100;
	}
#tab{
		float: left;
		width: 12%;	
		height: 100%;
		background-color:#2A3137;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #000;
		position: relative;
	}
#files-tab-section{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #000;
		float: left;
		width: 20%;	
		height: 100%;
		display:inline;
		background-color:#1f242a;
			
	}


#preview{
		float: left;
		width: 48%;	
		height: 100%;
		background-color:#000000;
		position: relative;
			
	}
#properties{
		box-sizing: border-box !important;
		-moz-box-sizing: border-box !important;
		-webkit-box-sizing: border-box !important;
		border: 1px solid #000;
		float: left;
		width: 20%;	
		height: 100%;
		background-color:#2A3137!important;
		position: relative;
			
	}
	
#sub2{
		background-color:#1f242a;		
		height:20%;
		width:100%;
		
	}
#buttons-section{
		box-sizing: border-box;
		-moz-box-sizing: border-box ;
		-webkit-box-sizing: border-box;
		border: 1px solid #000;
		float: left;
		width: 32%;
		height:100%;
}
#control-section{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #000;
		float:left;
		width: 68%;
		height:100%;
}
#track{
		background-color:#1f242a;
		left:0;
		height:80%;
		width:100%;	
}
/* --------File Section---------*/
#file-sub{
	height:100%;
	width:100%;
}

#title-of-tab-file{
		height:10%;
		width:100%;
}
#file-lists
{
	top:0;
	height:81%;
	width:100%;
	overflow-x: auto;
    white-space: nowrap;
	padding:0;
	position: relative;
}

#btn-delete-file
{
	float:right;
	border-radius:5px;
}

#btn-add-video
{
	float:right;
	border-radius:5px;	
}
#btn-add-video{
	float:right;
	border-radius:5px;
}
#btn-add-image{
	float:right;
	border-radius:5px;
}
#btn-add-background{
	float:right;
	border-radius:5px;
}
#btn-remove-background{
	float:right;
	border-radius:5px;
}

#info-div{
	visibility:hidden;
	text-align: center;
}
.files{
		padding-left:1.2em;
}
.buttons{
	cursor:pointer;
	background-color:#1F242A;
	border:none;
	margin:2px;
	border-radius:5px;
	
}
.row{
    padding:3px;
    margin-left: 2px!important;
    margin-right: 2px!important;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: initial !important;
}

li.row:hover{
	background-color:#90a4ae !important;
	cursor:pointer;	
}

.title{
	font-weight:bold;
	text-align:center;
}

.btn-tab:hover{
	background-color:#9e9e9e;
}

.btn-tab{
	width: 97%;
    cursor: pointer;
    background-color: #1F242A;
    border: none;
    margin: 2px;
    /* border-radius: 5px; */
    font-size: 14px !important;
    text-align: left;
    padding: 10px 0px;
}

.btn-tab-label{
	cursor:pointer;
    padding:10px;
    display: inline-block;
    max-width: 100%;
    /* margin-bottom: 5px; */
    /* font-weight: 700; */
}
.prev-control-btns{
	cursor:pointer;
	background-color:#1F242A;
	border:none;
	margin:2px; 
	border-radius:5px;
	position: relative;
	float: left;
	/* left: 50%; */
	/*height: 100%;
	/* line-height: 54px; */

}
#info-div{
	visibility:hidden;
	text-align: center;
}
/*---------------Video seek-bar------------------*/				
#preview-buttons{
	width: 19%;
	height:100%;
	float: left;
	top:0;	
}
#prev-control-btns{
	float:left;
	display:inline;
}
#seek-bar{
	left:20%;
	position:relative;
	width: 40%;
	margin:1%;
	top:2%;
	height:100%;
}

#preview-ctrl-btns-section{
	margin:1%;
	width: 30%;
	float: right;
	position:relative;
}
#videoRange, #videoProgress{
	position : absolute;
	width:100%;
	left: 3%;
	top:3%;
} 



#videoProgress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 5px;

    /* For IE10 */
    color: BLACK;
}

#videoProgress[value]::-webkit-progress-value {
    background-color: blue;
}

#videoProgress[value]::-moz-progress-bar {
    background-color: blue;
}

#seek-bar > input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-apperance: none !important;
    /* height: 4px; */
	height: 5px;
    background: transparent;
    outline: none !important;
    border: none;
    margin: 0;
    padding: 0;
}

#seek-bar > input[type="range"]:focus {
    outline: none;
    border: none;
 }

#seek-bar > input[type="range"]::-moz-range-track {
    border: none;
    background: transparent;
    outline: none;
}

#seek-bar > input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

#seek-bar > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: blue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#seek-bar > input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background: blue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
}

#seek-bar > input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    background: blue;
}

#seek-bar > input[type="range"]::-ms-fill-lower,
#seek-bar > input[type="range"]::-ms-fill-upper {
  background: transparent;
}

#seek-bar > input[type="range"]::-ms-tooltip {
  display: none;
}


/*Properties Section*/

#fileProperties{
	width : 100%;
	height: 100%;
	z-index:0;
	font-size: 1.3vw !important;
	overflow: hidden;
    position: absolute;
	box-sizing:border-box;
	box-orient:horizontal;  	
}

#fileProperties > label{
	
	display:block;
	width : 100%;
	text-align:center-left;
	margin:5px;
	width:40%;
	height:100%;
	float:left;
	display:block; 
}

.outerDiv{
	height : 6%;
	padding:1%; 
  border-bottom:1px solid #888; 
  border-top:1px solid #bbb;
  transition:background 0.3s ease;
  background:#aaa;
  text-align:center-left;
  background:#1f242a;
}

.filePropertiesActive{
	width:60%;
	height : auto;
	float:right;
	font-size: 1.3vw;
	z-index:inherit;
	text-align:center-left;
	background-color:#2A3137;
}




#videoProperties{	
	width : 100%;
	height: 100%;
    overflow: hidden;
	position: absolute;	
	background-color:#2A3137;
}



#opactiy-value
{
	float:right;
   
}
.slider {
    -webkit-appearance: none;
    width: 52% !important;
    height: 5%;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline-block!important;    
    position: relative;
	margin:3%;
	left:30%;;
}



.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: black;
    cursor: pointer;
    border-radius: 50%;

}
.slider-value-text
{
	width:10%;
    position: relative;
    left : 30%;
	
}
.option-text
{
		width:25% !important;
		height:26% !important;
		float:left !important;
		cursor: pointer !important;
		font-size: 14px !important;
		text-align: left !important;
		margin:2px !important;
}

#transparency-check
{
	position: relative;
	left: 10%;
}
#hex-color
{	color:#1f242a !important;
	position: relative !important;
	width:55%;
	line-height: initial !important;
	left:30%;
}
.transparency-property
{
	width: 97%;
	height:100%;
    cursor: pointer;
	background-color: #1F242A;
    border: none;
    margin: 2px;
    /* border-radius: 5px; */
    font-size: 14px !important;
    text-align: left;
    padding: 10px 0px;

}

#play{
	font-size: 14px;
	top:50%;
	left:50%;
	text-align: center;
    
}

.an-option{
	margin-bottom:2%;
}

.transparency-preview-wrap{
	width:100%;
	height:100%;
	position:relative;
	font-size: 1.3vw !important;	
	background-color:#2A3137;
}

.preview-tools{
	width:100%;
	height:100%;
	position:relative;
}

.transparency-options{
	width:100%;
	height:100%;
	position:relative;
	
	
}
#transparency1{
	width:97%;
	height:10%;	
	margin:2px;

}
#transparency2{
	width:97%;
	height:10%;
	margin:2px;
}
#transparency3{
	width:97%;
	height:10%;	
	margin:2px;
}
#transparency4{
	width:100%;
	height:10%;	
	margin:2px;
}

.transparency-preview-wrap button{
	margin-top : 3%;
	font-size: 1vw !important;
}

.Visible{

	z-index:-1;
}


/*------------------------ Old content--------------------*/
.tracks-wrapper
{
	position: absolute;
    height: 72%;
    width: 100%;
    background:#1f242a;
    overflow: hidden;
    z-index: 3;
}
.a-sec , .a-sec-label
{
	display: inline-flex;
	width: 10px;
	color:black !important;
	text-align: center;
}
.rule , .labels
{
	display: inline-flex;
	overflow : hidden;
}
/* old ruler
*//*.ruler
{
    overflow-x: hidden;
    background: white;
    position: absolute;
    /*left: 10%;*/
  /*  left: 100px;
    top: 20px;/*heights of pin-heads*/
/*    z-index: 999;
}
*/
.ruler {
    overflow-x: hidden;
    background: white;
    position: fixed;
    /* left: 10%; */
    left: 120px;
    /* top: 63%; */
    z-index: 2;
    width: calc(100% - 120px);
}
.a-sec-label
{
	position: relative;
    left: -10px;
	font-size: 10px;
}
.timer-pins-wrap
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 120px;
    /* z-index: 2; */
}
.pin
{
	/*clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 50% 100%);*/
    /* height: 36%; */
    height: 92%;
    width: 1px;
    position: absolute;
    background: grey;
    cursor: -webkit-grab;
    z-index: 3;
    /* bottom: 20px; */
}
.current-pin
{
    
}
.start-pin
{
}
.end-pin
{

}
.pin-head
{
	position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    left: -8px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 50% 100%);
    z-index: 5;
}
.end-pin-head
{
	background: crimson;
	z-index: 2!important;
	clip-path: polygon(0% 100%, 60% 0%, 100% 100%, 0% 100%);
    left: 0px;
}
.start-pin-head
{
	background: green;
	z-index: 2!important;
	clip-path: polygon(0% 100%, 40% 0%, 50% 0%, 100% 100%);
	left: -16px;
}
.area-select
{
	background: rgba(1,1,1,0.1);
    width: 100px;
    height: 100%;
    position: absolute;
    z-index: 10; /*audio-wave has 9*/
}
.tracks
{
	position: absolute;
    /* height: 100%; */
    height: 72%;
	width: 100%;
	top: calc(15% + 15px);
	/*left: 10%;*/
	background:#1f242a;
	border-right: 1px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
}
.cut-area-select
{
	cursor: -webkit-grab;
	background: rgba(255,99,71,0.3);
}
.cut-area-deselect
{
   background: rgba(255,99,71,0.3);
}
.a-track{
    position: relative;
    float: left;
    width: 100%;
    margin: 10px 0px;
}
.track-name-wrap{
    position: relative;
    float: left;
    width: 120px;
    left: 0px;
}
.track-content-wrap{
    /* position: relative; */
    width: calc(100% - 120px);
    /* float: left; */
    /* display: inline-block; */
    position: fixed;
    overflow-x: auto;
    overflow-y: auto;
    left: 120px;
    height: 28%;
    float: left;
    direction: ltr;
}
.track-content-inner-wrap{
    position: absolute;
    height: 100%;
}
.track-name
{
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    padding: 10px 0px;
    height: 80px;
    background: black;
    z-index: 2;
}
.track-content
{
	position: relative;
    float: left;
    width: calc(100% - 100px);
    padding: 10px 0px;
    height: 80px;
    z-index: 1;
    /* box-sizing: unset !important; */
}
.track-name-inner
{
	position: relative;
    height: 20px;
}

.canvas-wrapper
{
	float: left;
	width: 100%;	
	height:100%;
	position: relative;
	/*display: inline-block;
    background: white;
    /*margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;*/
}
/*
	background width and height are set in 16:9 aspect ratio;
*/
#background { 
	width: 100%;
	height: 100%;  
    /*background: url(../../assets/images/pizza.jpg);*/
    background: rgba(0,0,0,0.3);
   /* z-index: -1000;*/
}
.draggable { 
	width: 40%;
	height: 100%; 
	background: white; 
	position: absolute!important;
}
.tools-wrapper , .media-wrapper
{
	width: 20%;
	display: inline-block;
	background: white;
	height: 60%;
	margin-left: 1.5%;
	margin-top: 10px;
	border: 1px solid black;
	vertical-align: middle;
}
.canvas
{
	width: 100%;
	height: 100%;
	position: absolute;
	/*border: 1px solid white;*/
}
.img-canvas
{
	position: absolute;
	background-size: 100%;
	width: 100%;
	height: 100%;
	border: 1px solid white;
}
.text-overlay{
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
	border: 1px dashed black;
    padding: 2px;
    background:transparent;   
	height:20px;
	  
	outline: none;
}
.btn{
	color: black;
}
/*
#background{
	background-image: url('img/1280x720background.jpg');
}*/

.a-border-p-row
{
	position:relative;
    padding: 10px 0px;
    background-color: #1F242A;
    margin: 5px 0px;
}
.b-p-row-label
{
	position:relative;
	width: 30%;
    padding-left: 5%;
    display: inline-block !important;
	line-height: normal !important;
}
.b-p-row-input
{
	position:relative;
	width: 30%;
	text-align: center;
	left:30%;
}
.b-p-row-input-color
{
	position:relative;
	line-height:normal !important;
	left:20%;
}
input{
	color: black !important;
}
.message
{
	position: relative;
    top: 40%;
    text-align: center;
}

/*Styles for sound related operations*/
#volume_seek_bar{
	
	position:relative;
	width : 58%;
	margin:1%;
	margin-top:2%;
	float : left;
	
}

#mute-portion
{
	display:none;
	color: black;
}

.vRange, #vProgress{
	position : absolute;
	width:100%;
	left: 3%;
	top:3%;
} 

#vProgress[value] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    
    border: none;
    height: 5px;

    /* For IE10 */
    color: blue;
}

#vProgress[value]::-webkit-progress-value {
    background-color: blue;
}

#vProgress[value]::-moz-progress-bar {
    background-color: blue;
}

#volume_seek_bar > input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-apperance: none !important;
    /* height: 4px; */
	height: 5px;
    background: none;
    outline: none !important;
    border: none;
    margin: 0;
    padding: 0;
}

#volume_seek_bar > input[type="range"]:focus {
    outline: none;
    border: none;
}

#volume_seek_bar > input[type="range"]::-moz-range-track {
    border: none;
    background: transparent;
    outline: none;
}

#volume_seek_bar > input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

#volume_seek_bar > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: blue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#volume_seek_bar > input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background: blue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
}

#volume_seek_bar > input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    background: blue;
}

#volume_seek_bar > input[type="range"]::-ms-fill-lower,
#volume_seek_bar > input[type="range"]::-ms-fill-upper {
  background: transparent;
}
#volume_seek_bar{
	left:0%;
	position:relative;
	width: 40%;
	margin:1%;
	top:2%;
}
#volume_seek_bar > input[type="range"]::-ms-tooltip {
  display: none;
}
.volume_class
{
	float:left;
	width:25%;
	margin-left:10%;
}
.cut-area-of-track-select
{
background: rgba(237, 237, 237, 0.3);
}

.modal-open .modal{
	height:80% !important;
	width:100% !important;	
	top:10% !important;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 328px;
    overflow-y: auto;
}
.modal-backdrop
{
    opacity:0.5 !important;
}

.progress-bar {
    background-color: #09b8f1 !important;
}
.modal-title {
    color: red !important;
}
.progress-bar-container{
	width:100%;
	height:30%;

}
.border-properties-label-title
{
	font-size:16px !important;
}
.title{
	text-align:center !important;
	font-size:16px !important;
}
/* bootstrap*/

label {
    display: initial !important;
    max-width: 0 !important;
    margin-bottom: 0 !important;
    font-weight: 100 !important;
}
hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0 !important;
    border-top: 1px solid #eee !important;
}
ol, ul {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.row:before {
    display: inline !important;
}
.btn-default,.btn-default,.swal-title,.swal-text,.swal-footer{
    color: #333 !important;
}
.wave-wrap{
    background: rebeccapurple;
}