@font-face {
    font-family: 'Dosis';
    src: url("assets/font/Dosis/Dosis-Regular.ttf");
}

*{
	font-family:Dosis;
}

*{
	color:white;
}
html,body,.editor-wrap,.start-screen-wrap{
	
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow: hidden;
}
.editor-wrap
{
	display: none;
}
.container1{
		top:0;
		position:relative;
		left:0;		
		height:50%;  
		width:100%;
}
.container2{
		top:50;
		position:relative;
		left:0;
		height:50%;  
		width:100%;
	
}
#sub1{			
		height:100%;
		width:100;
	
	}
#tab{
		float: left;
		width: 12%;	
		height: 100%;
		background-color:#2A3137;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #000;
		position: relative;
	}
#files-tab-section{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #000;
		float: left;
		width: 20%;	
		height: 100%;
		display:inline;
		background-color:#1f242a;
			
	}


#preview{
		float: left;
		width: 48%;	
		height: 100%;
		background-color:#000000;
		position: relative;
			
	}
#properties{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #000;
		float: left;
		width: 20%;	
		height: 100%;
		background-color:#1f242a;
		position: relative;
			
	}
	
#sub2{
		background-color:#1f242a;		
		height:20%;
		width:100%;
		
	}
#buttons-section{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #000;
		float: left;
		width: 32%;
		height:100%;
}
#control-section{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #000;
		float:left;
		width: 68%;
		height:100%;
}
#track{
		background-color:#1f242a;
		left:0;
		height:80%;
		width:100%;	
}
/* --------File Section---------*/
#file-sub{
	height:100%;
	width:100%;
}

#title-of-tab-file{
		height:10%;
		width:100%;
}
#file-lists
{
	top:0;
	height:81%;
	width:100%;
	overflow-x: auto;
    white-space: nowrap;
	padding:0;
	position: relative;
}

#btn-delete-file
{
	float:right;
	border-radius:5px;
}

#btn-add-video
{
	float:right;
	border-radius:5px;	
}
#btn-add-video{
	float:right;
	border-radius:5px;
}
#btn-add-image{
	float:right;
	border-radius:5px;
}
#btn-add-background{
	float:right;
	border-radius:5px;
	
}

#info-div{
	visibility:hidden;
	text-align: center;
}
.files{
		padding-left:1.2em;
}
.buttons{
	cursor:pointer;
	background-color:#1F242A;
	border:none;
	margin:2px;
	border-radius:5px;
	
}
.row{
	padding:3px;
	margin:2px;
}

li.row:hover{
	background-color:#90a4ae !important;
	cursor:pointer;	
}

.title{
	//font-weight:bold;
	text-align:center;
}

.btn-tab:hover{
	background-color:#9e9e9e;
}

.btn-tab{
	width: 97%;
    cursor: pointer;
    background-color: #1F242A;
    border: none;
    margin: 2px;
    /* border-radius: 5px; */
    font-size: 14px;
    text-align: left;
    padding: 10px 0px;
}

.btn-tab-label{
	cursor:pointer;
	padding:10px;
}
.prev-control-btns{
	cursor:pointer;
	background-color:#1F242A;
	border:none;
	margin:2px; 
	border-radius:5px;
	position: relative;
	float: left;
	/* left: 50%; */
	/*height: 100%;
	/* line-height: 54px; */

}







#info-div{
	visibility:hidden;
	text-align: center;
}

/*---------------Video seek-bar------------------*/				
#preview-buttons{
	width: 19%;
	height:100%;
	float: left;
	top:0;

	
}
#prev-control-btns{
	float:left;
	display:inline;
}
#seek-bar{
	left:20%;
	position:relative;
	width: 40%;
	margin:1%;
	top:2%;
	height:100%;
}

#preview-ctrl-btns-section{
	//margin:1%;
	width: 30%;
	float: right;
	position:relative;
	
}
#vRange, #vProgress{
	position : absolute;
	width:100%;
	left: 3%;
	top:3%;
} 

#vProgress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 5px;

    /* For IE10 */
    color: BLACK;
}

#vProgress[value]::-webkit-progress-value {
    background-color: blue;
}

#vProgress[value]::-moz-progress-bar {
    background-color: blue;
}

#seek-bar > input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-apperance: none !important;
    /* height: 4px; */
	height: 5px;
    background: none;
    outline: none !important;
    border: none;
    margin: 0;
    padding: 0;
}

#seek-bar > input[type="range"]:focus {
    outline: none;
    border: none;
    BACKGROUND: BLACK;
}

#seek-bar > input[type="range"]::-moz-range-track {
    border: none;
    background: transparent;
    outline: none;
}

#seek-bar > input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

#seek-bar > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: blue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#seek-bar > input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background: blue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
}

#seek-bar > input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    background: blue;
}

#seek-bar > input[type="range"]::-ms-fill-lower,
#seek-bar > input[type="range"]::-ms-fill-upper {
  background: transparent;
}

#seek-bar > input[type="range"]::-ms-tooltip {
  display: none;
}


/*Properties Section*/

#fileProperties{
	width : 100%;
	height: 100%;
	z-index:0;
	font-size: 1.3vw;
	overflow: hidden;
    position: absolute;
	box-sizing:border-box;
	box-orient:horizontal;  	
}

#fileProperties > label{
	
	display:block;
	width : 100%;
	text-align:center-left;
	margin:5px;
	width:40%;
	height:100%;
	float:left;
	display:block; 
}

.outerDiv{
	height : 6%;
	padding:1%; 
  border-bottom:1px solid #888; 
  border-top:1px solid #bbb;
  transition:background 0.3s ease;
  background:#aaa;
  text-align:center-left;
  background:#1f242a;
}

.filePropertiesActive{
	width:60%;
	height : auto;
	float:right;
	font-size: 1.3vw;
	z-index:inherit;
	text-align:center-left;
}




#videoProperties{	
	width : 100%;
	height: 100%;
    overflow: hidden;
	position: absolute;	
	background-color:#1f242a;
}



#opactiy-value
{
	float:right;
   
}
.slider {
    -webkit-appearance: none;
    width: 52%;
    height: 5%;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline-block!important;    
    position: relative;
	margin:3%;
	//float:right;
}



.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: black;
    cursor: pointer;
    border-radius: 50%;

}
.slider-value-text
{
	width:10%;
	position: relative;
	
}
.option-text
{
	width:25%;
	float:left;
}

#transparency-check
{
	position: relative;
	left: 10%;
}
#hex-color
{	color:#1f242a !important;
	position: relative;
	width:70%;
	
}
#transparency-options
{
    margin-top: 10px;
}

.an-option{
	margin-bottom:2%;
}

.transparency-preview-wrap{
	width:100%;
	height:100%;
	position:relative;
	font-size: 1.3vw;	
	background-color:#1f242a;
}

.preview-tools{
	width:100%;
	height:100%;
	position:relative;
}

.transparency-options{
	width:100%;
	height:100%;
	position:relative;
	padding:5px;
}
#transparency1{
	width:100%;
	height:10%;	
	margin:2px;

}
#transparency2{
	width:100%;
	height:10%;
	margin:2px;	
}
#transparency3{
	width:100%;
	height:10%;	
	margin:2px;
}

.transparency-preview-wrap button{
	margin-top : 3%;
	font-size: 1vw;
}

.Visible{

	z-index:-1;
}


/*------------------------ Old content--------------------*/
.tracks-wrapper
{
	    position: absolute;
    /* top: 55%; */
    /* left: 1%; */
    height: 72%;
    width: 100%;
    background:#1f242a;// wheat;
    overflow: auto;
}
.a-sec , .a-sec-label
{
	display: inline-flex;
	width: 10px;
	color:black !important;
	text-align: center;
}
.rule , .labels
{
	display: inline-flex;
	overflow : hidden;
}
.ruler
{
    overflow-x: hidden;
    background: white;
    position: absolute;
    /*left: 10%;*/
    left: 100px;
    top: 20px;/*heights of pin-heads*/
    z-index: 999;
}
.a-sec-label
{
	position: relative;
    left: -10px;
	font-size: 10px;
}
.timer-pins-wrap
{
	position: absolute;
    width: 100%;
    height: 100%;
    /*left: 10%;*/
    left: 100px;
}
.pin
{
	/*clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 50% 100%);*/
	height: 100%;
	width: 1px;
    position: absolute;
    background: grey;
    cursor: -webkit-grab;
    z-index: 5;
}
.current-pin
{
    
}
.start-pin
{
}
.end-pin
{

}
.pin-head
{
	position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    left: -8px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 50% 100%);
    z-index: 5;
}
.end-pin-head
{
	background: crimson;
	z-index: 2!important;
	clip-path: polygon(0% 100%, 60% 0%, 100% 100%, 0% 100%);
    left: 0px;
}
.start-pin-head
{
	background: green;
	z-index: 2!important;
	clip-path: polygon(0% 100%, 40% 0%, 50% 0%, 100% 100%);
	left: -16px;
}
.area-select
{
	background: rgba(1,1,1,0.1);
    width: 100px;
    height: 100%;
    position: absolute;
    z-index: 10; /*audio-wave has 9*/
}
.tracks
{
	position: absolute;
	height: 100%;
/*	width: 100%; runtime*/
	top: calc(15% + 15px);
	/*left: 10%;*/
	background:#1f242a// wheat;
	border-right: 1px solid black;
}
.cut-area-select
{
	cursor: -webkit-grab;
	background: rgba(255,99,71,0.3);
}
.cut-area-deselect
{
   background: rgba(255,99,71,0.3);
}
.track-name
{
    width: 100px;
    float: left;
    position: relative;
    text-align: center;
    padding: 10px 0px;
    height: 50px;
}
.track-content
{
	position: relative;
    float: left;
    width: calc(100% - 100px);
    padding: 10px 0px;
    height: 60px;
}
.track-name-inner
{
	position: relative;
    height: 20px;
}

.canvas-wrapper
{
	float: left;
	width: 100%;	
	height:100%;
	position: relative;
	/*display: inline-block;
    background: white;
    /*margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;*/
}
/*
	background width and height are set in 16:9 aspect ratio;
*/
#background { 
	width: 100%;
	height: 100%;  
    /*background: url(../../assets/images/pizza.jpg);*/
    background: rgba(0,0,0,0.3);
   /* z-index: -1000;*/
}
.draggable { 
	width: 40%;
	height: 100%; 
	background: white; 
	position: absolute!important;
}
.tools-wrapper , .media-wrapper
{
	width: 20%;
	display: inline-block;
	background: white;
	height: 60%;
	margin-left: 1.5%;
	margin-top: 10px;
	border: 1px solid black;
	vertical-align: middle;
}
.canvas
{
	width: 100%;
	height: 100%;
	position: absolute;
	border: 1px dashed black;
}
.img-canvas
{
	position: absolute;
	background-size: 100%;
	width: 100%;
	height: 100%;
	border: 1px dashed black;
}
.text-overlay{
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
	border: 1px dashed black;
    padding: 2px;
    background:transparent;   
	height:20px;
	  
	outline: none;
}
.btn{
	color: black;
}
#background{
	background-image: url('img/1280x720background.jpg');
}
#volume_seek_bar{
	
	position:relative;
	width : 58%;
	margin:1%;
	margin-top:2%;
	float : left;
	
}

#mute-portion
{
	display:none;
	color: black;
}

.vRange, #vProgress{
	position : absolute;
	width:100%;
	left: 3%;
	top:3%;
} 

#vProgress[value] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    
    border: none;
    height: 5px;

    /* For IE10 */
    color: blue;
}

#vProgress[value]::-webkit-progress-value {
    background-color: blue;
}

#vProgress[value]::-moz-progress-bar {
    background-color: red;
}

#volume_seek_bar > input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-apperance: none !important;
    /* height: 4px; */
	height: 5px;
    background: none;
    outline: none !important;
    border: none;
    margin: 0;
    padding: 0;
}

#volume_seek_bar > input[type="range"]:focus {
    outline: none;
    border: none;
}

#volume_seek_bar > input[type="range"]::-moz-range-track {
    border: none;
    background: transparent;
    outline: none;
}

#volume_seek_bar > input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

#volume_seek_bar > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: blue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#volume_seek_bar > input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background: blue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
}

#volume_seek_bar > input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    background: blue;
}

#volume_seek_bar > input[type="range"]::-ms-fill-lower,
#volume_seek_bar > input[type="range"]::-ms-fill-upper {
  background: transparent;
}
#volume_seek_bar{
	left:0%;
	position:relative;
	width: 40%;
	margin:1%;
	top:2%;
}
#volume_seek_bar > input[type="range"]::-ms-tooltip {
  display: none;
}
.volume_class
{
	float:left;
	width:25%;
	margin-left:10%;
}
.cut-area-of-track-select
{
background: rgba(237, 237, 237, 0.3);
}
//code ends